* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include text($allFont, 1em, black, $regFont);
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: $boldFont;
}

.container {
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.icon {
  width: 1.75em;
}

nav {
  background-color: $navy;
  order: 10;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  
  ul {
    @include flexbox(flex, space-around, center, nowrap);
  
    .icon {
      width: 2em;
      margin: 5px auto 0;
      padding: 5px;
    }
  }
}

.dash {
  flex-basis: 100%;
  
  @include flexbox(flex, space-between, center, nowrap);
}

.traffic,
.daily-traffic,
.mobile-user,
.social-stats,
.new-members,
.recent-activity,
.message-user,
.settings {
  border-bottom: 1px solid #778899;
  padding: 25px 0;
}