nav {
  background-color: $navy;
  order: 10;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  border-top: 0.5px solid $slate;
  
  @include desktop {
    width: 3em;
    top: 0;
    z-index: 50;
  }
  
  ul {
    @include flexbox(flex, space-around, flex-end, nowrap);
    
    @include desktop {
      flex-direction: column;
      padding-top: 4em;
    }
  
    .icon {
      width: 2em;
      margin: 5px auto 0;
      padding: 5px;
      
      @include desktop {
        padding-right: 8px;
        padding-left: 1px;
      }
    }
  }
}

.tab-active {
  border-top: 3px solid $aqua;
  
  @include desktop {
    border-top: none;
    border-right: 3px solid $aqua;
  }
}