//Colors

$navy: #015f70;
$rainwashed: #9dcdd3;
$aqua: #3ae5e5;
$mauve: #ad807b;
$purple: #562d2f;
$slate: #778899;

//Fonts

$allFont: 'Source Sans Pro', sans-serif;

$lightFont: 300;
$regFont: 400;
$boldFont: 600;